# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Custom additions to the default Ionic gitignore
# Capacitor
android/
ios/
.capacitor/

# Mobile builds
*.apk
*.aab

# Default gitignore packed with Ionic projects:
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env.local
.env.*.local
*.local
/.nx
/.nx/cache
/.vscode/*
!/.vscode/extensions.json
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache

.vite